.underline{
    width: 70px;
    height: 1px;
    background: linear-gradient(to right, #0ab9e4 0, #0282a5 100%);
    text-align: center;
    margin: 0 auto;
    margin-bottom: 7px;
    margin-top: 5px;
}