.tuamNav{
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    height: auto;
    z-index: 999;
    background-color: transparent;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.navbar-light{
    background: white;
}
.tuamNav .navbar{
    box-shadow: -9px 9px 0px 0px rgba(200,195,194,1);;
}
.navbar-nav{
    padding-top: 9px;
}
.stiky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
    background-color: #ffffff !important;
}
.stiky .navbar{
    box-shadow: none;
}
.call-us > div{
    margin-top: -10px;
}
.navbar-nav a{
    font-size: 15px;
    color: #524552!important;
    text-transform: uppercase;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    margin-right: 12px;
}
.navbar-nav a:last-child{
    margin-right: 0;
}
.call-us  div  p{
    display: inline-block;
}
.number{
    vertical-align: top;
    padding-left: 15px;
}
.number span{
    display: block;
}
.number span:last-child{
    color: #ff5d22;
    font-weight: 600;
    font-size: 14px;
}
.number span:first-child{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    color: #524552;
}
.call-us .image span{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #f1f4f4;
    text-align: center;
    display: inline-block;
}
.lang-block{
    height: fit-content;
    display: inline-block;
    margin-right: 10px;
    margin-top: -3px;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
}
.lang-block:last-child{
    margin-right: 0;
}
.lang-block:hover{
    opacity: 0.75;
}
@media (min-width: 992px){
    .call-us{
        margin-left: 15px;
    }
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
        justify-content: flex-end;
    }
}
@media (max-width: 600px) {
    .tuamNav {
        top: 0px;
    }
    .tuamNav .navbar{
        box-shadow: none;
    }
}

